@import "../../node_modules/bootstrap/scss/bootstrap";

.top-nav {
    background-color: $gray-300;
    height: 3rem;
    @extend .border, .sticky-top, .d-flex, .align-items-center;
}

.indigo-container {
    background-color: $indigo;
    height: 50rem;
}

.div-col1 {
    background-color: $red-100;
}

.div-col2 {
    background-color: $green-100;
}

.div-col3 {
    background-color: $blue-100;
}

.row > div > * {
    @extend .p-4;
}